-if @current_issues.length > 0
  -@current_issues.each do |issue|
    %ul
      %li{ :class => "severity_#{issue.severity}" }
        -if issue.resolved
          %span.green="Resolved"
        -else
          %span.red="Pending"
        %b
          =issue.service.title
          *
          =issue.title
        =link_to image_tag("/images/edit.png", :border => 0, :alt => "Edit"), edit_issue_path(issue), :title => "Edit" if current_admin
        =link_to image_tag("/images/trash.png", :border => 0, :alt => "Destroy"), issue, :confirm => 'Are you sure?', :method => :delete, :title => "Destroy" if current_admin
        %ul.details
          %li.details
            ="Severity: #{issue.severity} * reported #{time_ago_in_words(issue.time_down)} ago, on #{issue.time_down} * estimate #{issue.estimate}"
          %li.details
            ="Resolved #{time_ago_in_words(issue.time_up)} ago, on #{issue.time_up}" if issue.resolved
          %li.details
            <br />
            ="#{issue.description}" if issue.description
-else
  %h3.title
    All Systems Go
  No known issues at this time.
