-if @current_issues.length > 0
  -@current_issues.each do |issue|
    %ul
      %li{ :class => "severity_#{issue.severity}" }
        -if issue.resolved
          %span.green="Resolved"
        -else
          %span.red="Pending"
        %b
          =issue.service.title
          *
          =issue.title
        =link_to "Edit", edit_issue_path(issue) if current_admin
        %ul.details
          %li.details
            ="Severity: #{issue.severity} * reported on #{issue.time_down} * estimate #{issue.estimate}"
          %li.details
            ="Resolved on #{issue.time_up}" if issue.resolved
          %li.details
            <br />
            ="#{issue.description}" if issue.description
-else
  %h3.title
    All Systems Go
  No known issues at this time.
