%h1.up_status 
  UP Status
  %span.title
    Dashboard

%h3.up_status.title Status:
%div.content
  - if Admin.should_register
    You should sign up for an admim account:
    =link_to "sign up form", '/admins/sign_up'


  %ul
    - @services.each do |service|
      %li{ :class => "#{status_color(service)}_status" }
        = service.title
        %span{:class => status_color(service)}
          =#status(service)

  %div.link
    =link_to "History - Issues List", issues_path

%h3.up_status.title Current Issues
%div.content
  = render :partial => 'current_issues_list'


%h3.up_status.title Services description:
%div.content

  %ul
    - @services.each do |service|
      %li
        = service.title
        %ul
          %li.details
            = service.description
