%h3 Issues List

%ul
  -@issues.each do |issue|
    %li
      %b
        =issue.service.title
        *
        =issue.title
        -if issue.resolved
          %span.green="(resolved)"
        -else
          %span.red="(pending)"
      =link_to "Edit", edit_issue_path(issue) if current_admin
      %ul.details
        %li
          ="Severity: #{issue.severity} * reported on #{issue.time_down} * estimate #{issue.estimate}"
        %li
          ="Resolved: #{issue.resolved}"
          ="on #{issue.time_up}" if issue.resolved
        %li
          ="Description: #{issue.description}"

=link_to "Back to Dashboard", root_path

=link_to "New Issue", new_issue_path if current_admin
