%h1.up_status
  UP Status
  %span.title
    Issues List

-@issues.each do |issue|
  %div.content
    %ul
      %li{ :class => "severity_#{issue.severity}" }
        -if issue.resolved
          %span.green="Resolved"
        -else
          %span.red="Pending"
        %b
          =issue.service.title
          *
          =issue.title
        =link_to "Edit", edit_issue_path(issue) if current_admin
        %ul.details
          %li.details
            ="Severity: #{issue.severity} * reported #{time_ago_in_words(issue.time_down)} ago, on #{issue.time_down} * estimate #{issue.estimate}"
          %li.details
            ="Resolved #{time_ago_in_words(issue.time_up)} ago, on #{issue.time_up}" if issue.resolved
          %li.details
            <br />
            ="#{issue.description}" if issue.description

%div.link_bar
  =link_to "Back to Dashboard", root_path
  =link_to "New Issue", new_issue_path if current_admin
